.box{
	width: 0px;
	border-width: 30px;
	border-style: solid;
	border-color: red black;
	margin-left: auto;
	margin-right: auto;
}

.triangulo{
	display: inline-block;
	border-width: 8px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: red;
}

.radius{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	border-radius: 
		120px 80px 40px 10px /
		20px 40px 60px 80px;
	margin-right: auto;
	margin-left: auto;
	outline: 2px solid red;
	outline-offset: 10px;
	background: yellow;
}
