* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	color: hsl(240,100%,10%);
	background: radial-gradient(
				50% 50%,
				hsl(300,80%,70%) 0% 50%,
				hsl(60,80%,50%) 50% 100%
	);
}

h1 {
	display: inline-block;
	border-bottom: 1px solid transparent;
}

h1:hover {
	border-bottom: 1px solid currentcolor;
}

span {
	color: transparent;
	background: transparent;
}
