.box {
	height: 200px;
	width: 400px;
	border: 1px solid black;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBCTnRjrrFlYyr0w7EXnjrxH-EUDWcvLzOFw&s);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;
}
