p{
	font-style: italic;
	font-variant: small-caps;
	font-weight: bolder;
	font-strech: expanded;
	font-size: 0.875em;
	line-height: 0.8;
	font-family: sans-serif;
}

span{
	font: italic small-caps bolder ultra-condensed 1.25rem/1.5 sans-serif;
}
